.main-course{
  margin-top: 20px;
}

.course-box{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #ffffff81;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul{
  list-style: none;
  display: flex;
}

.course-box ul li{
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active{
  color: #000;
  border-bottom: 1px solid #000;
}

.course-box ul .course{
  display: flex;
}

.course{
  display: flex;
  flex-wrap: wrap;
}

.own-box{
  width: 20%;
  height: 100px;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: o 20px 35px rgba(0, 0, 0, 0.1);
}

.own-box p{
  font-size: 12px;
  margin-top: 5px;
}

.own-box button{
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.own-box button:hover{
  background: rgba(223, 70,15, 0.842);
}

.own-box i{
  font-size: 20px;
  float: right;
  margin: -20px 20px 20px 0;
}

.html{
  color: rgb(25, 94, 54);
}

.css{
  color: rgb(104, 179, 35);
}

.js{
  color: rgb(28, 98, 179);
}